:root {
	--global-font-size: 20px;
	--global-line-height: 1.4em;
	--global-space: 10px;
	--font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
		serif;
	--mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
		serif;
	--background-color: #202022;
	--page-width: 60em;
	--font-color: #e8e9ed;
	--invert-font-color: #222225;
	--secondary-color: #a3abba;
	--tertiary-color: #a3abba;
	--primary-color: #62c4ff;
	--error-color: #ff3c74;
	--progress-bar-background: #3f3f44;
	--progress-bar-fill: #62c4ff;
	--code-bg-color: #3f3f44;
	--input-style: solid;
	--display-h1-decoration: none;
}

.auto-grid {
	--auto-grid-min-size: 20rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	gap: 5rem;
	padding: 2rem;
}

.hide {
	display: none;
}

.show {
	display: block;
}
  
  


  .link1{
	color: #f7f331;
  }

  .link2{
	color: #f7673b;
  }
  
  .link3{
	color: rgb(155, 184, 51);
  }
  .link3{
	color: #33b845;
  }
  
  .line3 {
	color: rgb(172, 208, 214);
	-webkit-animation: type .25s 2.5s steps(5, end) forwards;
	-moz-animation: type .25s 2.5s steps(5, end) forwards;
	-o-animation: type .25s 2.5s steps(5, end) forwards;
	animation: type .25s 2.5s steps(5, end) forwards;
  }

  .line4 {
	color: #E09690;
	-webkit-animation: type .25s 2.5s steps(5, end) forwards;
	-moz-animation: type .25s 2.5s steps(5, end) forwards;
	-o-animation: type .25s 2.5s steps(5, end) forwards;
	animation: type .25s 2.5s steps(5, end) forwards;
  }
  
  
  .line5 {
	color: #515152;
	-webkit-animation: type .25s 2.7s steps(5, end) forwards;
	-moz-animation: type .25s 2.7s steps(5, end) forwards;
	-o-animation: type .25s 2.7s steps(5, end) forwards;
	animation: type .25s 2.7s steps(5, end) forwards;
  }

  .line6 {
	color: #fff;
	-webkit-animation: type .5s 3s steps(5, end) forwards;
	-moz-animation: type .5s 3s steps(5, end) forwards;
	-o-animation: type .5s 3s steps(5, end) forwards;
	animation: type .5s 3s steps(5, end) forwards;
  }
  
  .cursor::after {
    content: "";
    animation: blink 500ms infinite;
    background: var(--primary-color);
    border-radius: 0;
    display: inline-block;
    height: 1em;
    margin-left: 0.2em;
    width: 3px;
    bottom: -2px;
    position: relative;
  
  }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-moz-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-o-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }